@{
    Mascota mascota = ViewData["MASCOTA"] as Mascota;
}

<h1 style="color:red">Session mascota GENERIC</h1>

<h3>@ViewData["MENSAJE"]</h3>

<p>
    <a asp-controller="EjemploSession" asp-action="SessionMascotaGeneric" asp-route-accion="almacenar">Almacenar</a>
</p>
<p>
    <a asp-controller="EjemploSession" asp-action="SessionMascotaGeneric" asp-route-accion="mostrar">Mostrar</a>
</p>
@if (mascota != null)
{
    <h1 style="color:yellow">Nombre: @mascota.Nombre, Raza: @mascota.Raza, Edad: @mascota.Edad</h1>
}